body{
    /* Background pattern from Toptal Subtle Patterns https://www.toptal.com/designers/subtlepatterns/*/
    background: url(../images/full-bloom.png);
}

.answerButton{
    margin: 15px;
    width: 50%;
}

.menuButton{
    margin: 15px;
    width: 50%;
}

.reportButton{
    margin: 5px;
    width: 35%;
}

@media screen and (max-width: 992px) {
    .answerButton{
        width: 80%;
    }
    
    .menuButton{
        width: 80%;
    }
    
    .reportButton{
        width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .answerButton{
        width: 50%;
    }
    
    .menuButton{
        width: 50%;
    }
    
    .reportButton{
        width: 35%;
    }
}

@media screen and (max-width: 574px) {
    .answerButton{
        width: 80%;
    }
    
    .menuButton{
        width: 80%;
    }
    
    .reportButton{
        width: 45%;
    }
}

.card{
    margin-top: 15px;
}

.toggle{
    display:block;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
}

.toggle-handle{
    background-color: white;
}